<form [formGroup]="postForm" (ngSubmit)="submit()">
  <p mat-dialog-title>Post</p>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="5" placeholder="Body" formControlName="body">
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button [disabled]="postForm.invalid">Update</button>
  </div>
</form>
  