<ng-container *ngIf="query$ | async as result">
  <ui-header [title]="name$ | async" [loading]="result.loading"></ui-header>
  <ng-container *ngIf="result.data?.user as user">
    <mat-card>
      <mat-card-title>
        <span>{{ user.email }}</span>
        <span class="lr-space">|</span>
        <span>{{ user.phone }}</span>
      </mat-card-title>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Company">
            <ng-container *ngTemplateOutlet="company; context: user">
            </ng-container>
          </mat-tab>
          <mat-tab label="Address">
            <ng-container *ngTemplateOutlet="address; context: user">
            </ng-container>
          </mat-tab>
        </mat-tab-group>
        <ng-container *ngTemplateOutlet="posts; context: user">
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #address let-address="address">
  <mat-card>
    <mat-card-content>
      <table class="table">
          <tbody>
            <tr>
              <td>Street</td>
              <td>{{ address.street }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{ address.city }}</td>
            </tr>
            <tr>
              <td>Zipcode</td>
              <td>{{ address.zipcode }}</td>
            </tr>
          </tbody>
        </table>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #company let-company="company">
  <mat-card>
    <mat-card-title>{{ company.name }}</mat-card-title>
    <mat-card-content>{{ company.bs }}</mat-card-content>
  </mat-card>
</ng-template>

<ng-template #posts let-posts="posts">
  <mat-card>
    <mat-card-title>Posts</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let post of posts">
          <h3 matLine>{{ post.title }}</h3>
          <p matLine class="comments">{{ post.comments.length }} Comments</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
