footer {
  margin-top: 10px;
  padding: 10px;
}

footer > p {
  font-family: Lato;
  margin-top: 10px;
  color: grey;
}

.mat-drawer-container {
  background-color: white;
}

.mat-sidenav-content {
  height: calc(100vh - 146px);
}
