<header>
	<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Example of GraphQL Queries/Mutations using Apollo Client</span>
  </mat-toolbar>
</header>
<main>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <mat-list>
        <mat-list-item *ngFor="let item of navLinks">
          <button mat-button color="primary"
            (click)="navigateTo(item.link)">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span class="lr-space-sm"></span>
            <span>{{ item.label }}</span>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Router Outlet -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer>
	<mat-divider></mat-divider>
	<p>
    Thanks to <a href="https://graphqlplaceholder.com/" target="_blank">
      GraphQL Placeholder</a> for providing fake GraphQL API
  </p>
</footer>
