<ng-container *ngIf="query$ | async as result">
  <ui-header title="All Users" [loading]="result.loading"></ui-header>
  <div class="mat-cards">
    <mat-card *ngFor="let user of result.data.users">
      <mat-card-header>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>
          <span>{{ user.email }}</span>
          <span class="lr-space">|</span>
          <span>{{ user.phone }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          From <i>{{ user.address.city }}</i>, working with
          <i>{{ user.company.name }}</i> and has posted
          <code>{{ user.posts.length }}</code> times.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary"
          [routerLink]="['/users', user.id]">
          View Details
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
