<ng-container *ngIf="query$ | async as result">
  <ui-header title="All Posts" [loading]="result.loading"></ui-header>
  <div class="mat-cards">
    <mat-card *ngFor="let post of result.data.posts">
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>
          By <a [routerLink]="['/users', post.author.id]">
            {{ post.author.name }}
          </a>
          and has <a class="action" (click)="showComments(post)">
            {{ post.comments.length }} comments
          </a>.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ post.body }}</mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button class="action" (click)="editPost(post)">Edit</a>
        <delete-post [post]="post"></delete-post>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
