html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lr-space-sm {
  margin: 0 5px;
}

.lr-space {
  margin: 0 10px;
}

.mat-card {
  margin: 5px;
}

.mat-card-content {
  font-size: 1rem;
}
