html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lr-space-sm {
  margin: 0 5px;
}

.lr-space {
  margin: 0 10px;
}

a.action {
  color: #007bff !important;
}

a.action:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.mat-card {
  margin: 5px;
}

.mat-card-content {
  font-size: 1rem;
}
